.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.heading-block {
  margin: 20px;
}
.heading {
  font-family: poppins;
  margin: 0px;
  text-align: center;
  color: #525252;
}

.calculator {
  display: grid;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
}

.display {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 70px;
  height: 70px;
  font-size: 18px;
  font-weight: 550;
  margin: 5px 5px 0; /* Adjusted margin to remove space below Clear button */
  border: none;
  border-radius: 4px;
  background-color: #dfdfdf;
  cursor: pointer;
}

#clear {
  background-color: rgb(223, 63, 52);
  color: white;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
}

span {
  padding: 20px 110px;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clear-button {
  display: flex;
  flex-direction: row-reverse;
}

.operator {
  background-color: #00a5f2;
  color: white;
}

#equals {
  background-color: #8740ca;
  color: white;
}
